* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.hero-image {
  background-image: url("images/image.png");
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  position: relative;
  z-index: 100;
}

.nav-left {
  color: white;
  font-size: 44px;
  display: flex;
  margin-left: 50px;
}

.moto {
  font-weight: 200;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.divider {
  font-weight: 200;
  font-size: 45px;
}

.nav-right {
  color: white;
  font-size: 22px;
  display: flex;
  flex: 1;
  justify-content: end;
  margin-right: 50px;
  font-weight: 200;
  text-transform: uppercase;
}

.nav-right ul {
  list-style-type: none;
  display: flex;
  gap: 60px;
}

.nav-right a {
  color: inherit;
  text-decoration: none;
}

.rocket {
    position: relative;
    top: 6px;
    left: 6px;
    height: 40px;
}

.hero {
    color: white;
    display: flex;
    align-items: center;
    margin-left: 120px;
    height: 80vh;
}

.hero-left-main {
  font-size: 280px; 
  line-height: 0.9;
}

.hero-left-subtext {
  font-size: 40px;
  font-weight: 200;
  margin-top: 0;
  margin-left: 40px;
}

.pokemon {
  position: absolute;
  right:  10%;
  height: 100%;
  width: 50%;
  z-index: 10;
}